/* CSS für den Tab 'Erweitert' */
#tab-advanced {
    background-color: #fefefe;
}
#tab-advanced code {
    background-color: #eee;
    display: block;
    padding: 8px;
    border-radius: 3px;
    font-family: monospace;
    margin-top: 10px;
}
