/* CSS für den Tab 'Allgemein' */
#tab-general {
    background-color: #fafafa;
}
#tab-general h2 {
    color: #2a7ae2;
}
#tab-general ul {
    list-style-type: disc;
    margin-left: 20px;
}
#tab-general li {
    margin: 4px 0;
}
